.wrapper {
  display: none;
}

.isOpen {
  display: block;
  opacity: 0;
  background-color:rgba(214, 228, 228, 0.7);
  animation: zoomIn 1s ease forwards;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "Rubik Bubbles";
  letter-spacing: 0.2px;
  font-size: 32px;
  color: rgb(64, 67, 67);
}

.btnClose {
  &:active {
    transform: scale(0.7);
  }
}

.description {
  font-family: "Rubik Bubbles";
  letter-spacing: 0.2px;
  color: rgb(64, 67, 67);
  padding: 10px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
