.overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(126, 227, 231, 0.7);
  transition: all 0.3s ease;
}
