.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  transition: transform 0.3s ease;
  &:hover {
    animation: shake 0.3s ease;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
  font-family: "Rubik Bubbles";
}

@keyframes shake {
  25% {
    transform: translateX(-5px) rotateZ(-5deg);
  }
  50% {
    transform: translateX(5px) rotateZ(5deg);
  }
  75% {
    transform: translateX(-5px) rotateZ(-5deg);
  }
  100% {
    transform: translateX(0) rotateZ(0);
  }
}
