* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  color: black;
  transition: all 0.2s ease-in-out;

  &:not(div, span) {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}
